

body{
	font-family: Impact;
	font-size: 16px;
	padding: 
	background-color:#78D5D7;
}

.menu{
	display: flex;
	justify-content: space-around;
	font-size: 40px;
}

#foto{
	margin-left: 1080px;
}

header{
	background-color: #78D5D7;
}

main{
	background-color: #78D5D7;
}

footer{
	background-color: #78D5D7;
	display: flex;
	align-items: center;
	flex-direction: column;
}

fieldset{
	background-color: #78D5D7;
	border-color: blue;
}

.opening{
	position: absolute;
	top: 32%;
	left:70%;
}

.info{
	display: flex;
	align-items: center;
	flex-direction: column;
	
}